$grey: #545454;
$white: #fff;
$yellow: #FAB72A;
$dark: #333333;
$bc-products: #F5F5F5;
$bc-certificates: #F6F6F6;
$bc-footer__feedback: #545454;
$footer-border: #D9D9D9;
$call-modal__input: #DADADA;

%button-behavior {
  &:hover {
    border: 1px solid $dark;
  }
  &:active {
    border: 2px solid $dark;
  }
}

%validation {
  &:invalid:focus {
    border: 1px solid $yellow;
    &+label{
      opacity: 1;
    }
  }
}

@mixin footer-icon($color) {
  background-color: $color;
  border-color: transparent;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat';
  font-style: normal;
}

.container {
  max-width: 1240px;
  margin: 0 auto;
}

.title {
  font-weight: 500;
  font-size: 28px;
  line-height: 137.2%;
  color: $dark;
}

/*swiper slider*/

.swiper-button {
  &-next {
    transform: rotate(180deg);
  }
  &-next.swiper-button-disabled, &-prev.swiper-button-disabled {
    opacity: 1 !important;
  }
}

img.swiper-button-next, img.swiper-button-prev {
  margin: 17.64px -10px 0;
  width: 9px;
  height: 18.24px;
  z-index: 0;
}

/*form*/

.form-agreement {
  display: flex;
  align-items: center;

  input {
    position: absolute;
    z-index: -1;
    opacity: 0;
      &+label {
        display: inline-flex;
        align-items: center;
        cursor: pointer;
          &::before {
            content: '';
            width: 20px;
            height: 20px;
            background-color: $white;
            margin-right: 8px;
            background-repeat: no-repeat;
            background-position: center center;
          }
      }

      &:checked+label::before {
        border: none;
        background-color: $yellow;
        background-image: url('/images/check.svg');
      }

  }
  label {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
      &:hover {
        text-decoration-line: underline;
      }
  }
}

.requirements {
  display: block;
  color: $yellow;
  margin-top: 7px;
  font-size: 12px;
  line-height: 120%;
  opacity: 0;
}

/*header*/

.header {
  background-color: $grey;
  &__top {
      display: flex;
      align-items: center;
      height: 129px;
      border-bottom: 2px solid $white;
  }
  &__logo {
    width: 288.6px;
    height: 81.2px;
  }
  &__call {
    margin-left: 94.6px;
    margin-right: 45.86px;
    width: 227px;
      &--number {
        font-weight: 600;
        font-size: 24px;
        color: $white;
      }
      span &--request {
        float: right;
        color: $yellow;
        font-size: 14px;
        padding-top: 3px;
        text-decoration: underline;
        cursor: pointer;
      }
  }
  &__location {
    margin-right: 20px;
    font-size: 14px;
    width: 164.14px;
    display: flex;
    justify-content: space-between;
      &--link {
        color: $white;
      }
      &--icon {
        width: 10.26px;
        height: 15.95px;
      }
  }
  &__search--input {
    border: none;
    width: 385px;
    height: 42px;
    font-size: 14px;
    padding-left: 15px;
    background-image: url('/images/search.svg');
    background-repeat: no-repeat;
    background-position: 370px 12px;
    outline: none;
  }
  &__nav {
    list-style: none;
    display: flex;
    width: 1191px;
    margin-top: 28px;
    justify-content: space-between;

    /*dropdown for nav menu*/

    &-item {
      position: relative;
      z-index: 2;
      padding: 0 10px 31px;
        &:hover ul {
          display: block;
        }
        &:hover .header__nav-item--link {
          text-decoration: underline;
          color: $yellow;
        }
      &--link {
        text-decoration: none;
        transition: 0.2s;
        font-size: 18px;
        color: $white;
        &:hover {
          color: $yellow;
          text-decoration: underline;
        }
      }
    }
    &__dropdown {
      list-style: none;
      color: $dark;
      font-size: 14px;
      width: 291px;
      height: 344px;
      background-color: $white;
      position: absolute;
      margin-top: 22px;
      display: none;
        &-item {
          margin: 28px 0 28px 31px;
          cursor: pointer;
            &--link:hover {
            font-weight: 500;
            }
        }
        &::before {
          content: url('/images/triangle.svg');
          position: absolute;
          left: 10px;
          top: -9px;
        }
        &--catalog {
          left: 178.13px;
        }
        &--brands {
          left: 69.55px;
        }
        &--promotions {
          left: 56.94px;
        }
    }
  }
}

/*call modal*/

.fancybox__content {
  padding: 26px 20px 32.49px !important;
  cursor: default !important;
}

button.f-button.is-close-btn {
    display: none;
}

.call-modal {
  display: none;
  width: 636px;
  padding: 26px 20px 32.49px;

    &__top {
      display: flex;
      justify-content: space-between;
      &--title {
        font-weight: 500;
        font-size: 20px;
        line-height: 137.2%;
        color: $dark;
        margin-left: 9px;
      }
      &--close {
        width: 28px;
        height: 25.35px;
        margin-top: 6px;
      }
    }

    &__form {
      &--input {
        width: 596px;
        padding: 13px 22px 15px;
        height: 40px;
        border: 1px solid $call-modal__input;
        outline: none;
        margin-top: 26px;
          &::placeholder {
            color: $dark;
          }
      }

      &__bottom {
        display: flex;
        margin-top: 42.22px;
        justify-content: space-between;

        &__agreement {
          input + label::before {
            border: 1px solid $call-modal__input;
          }
        }
        &--button {
          width: 154px;
          height: 36.21px;
          background: $yellow;
          font-weight: 600;
          font-size: 14px;
          line-height: 17px;
          text-align: center;
          color: $dark;
          border: none;
          @extend %button-behavior;
        }
      }
    }
    label.requirements {
      height: 14px;
    }
}

/*slider for banner*/

.swiper-banner {
  height: 489px;
}
span.swiper-pagination-bullet {
    background-color: transparentize($white, 0.5);
    width: 11px;
    height: 11px;
}
span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: $white;
}
.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
    margin-bottom: 15.9px;
}
.swiper-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet, .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap,4.5px);
}

/*products*/

.container-products {
  background-color: $bc-products;
  height: 725px;
}
.products {
  width: 1307px;
  margin: auto;
  position: relative;
  color: $dark;
    &__title {
      margin-left: 25px;
      padding-top: 47px;
    }

    /*slider for products*/

    .swiper-product {
      margin-top: 28px;
      width: 1240px;
        &__item {
          position: relative;
            &-additional-info {
              position: absolute;
              top: -13px;
              right: 17px;
              display: flex;
              justify-content: space-between;
              text-align: center;
              width: 137px;
                &--leasing, &--owner, &--promotion, &--new {
                  height: 26px;
                  font-weight: 600;
                  font-size: 11px;
                  display: flex;
                  align-items: center;
                  align-content: center;
                  justify-content: center;
                }
                &--leasing, &--promotion {
                  background-color: $yellow;
                  width: 61px;
                }
                &--owner, &--new {
                  background-color: $grey;
                  width: 67px;
                  color: $white;
                }
                &--promotion, &--new {
                  display: none;
                }
            }
            &-main {
              width: 293px;
              border: 1px solid $yellow;
              background-color: $white;
              margin-top: 13px;
                &-text {
                  margin: 19px 24px 25px;
                }
                &--title {
                  font-weight: 500;
                  line-height: 20px;
                }
                &--description {
                  font-size: 14px;
                  font-weight: 400;
                  line-height: 17px;
                  margin-top: 12px;
                }
                &-prices {
                  margin: 13px auto 28px;
                  display: flex;
                  height: 23px;
                  align-items: baseline;
                    &--old {
                      margin-left: 12px;
                    }
                    &--new {
                      font-weight: 500;
                      font-size: 20px;
                    }
                }
                &-availability {
                  display: flex;
                  align-items: flex-start;
                    &--text {
                      font-weight: 400;
                      font-size: 12px;
                      line-height: 15px;
                      padding-left: 8px;
                    }
                    img &--cart {
                      width: 20px;
                      height: 18.5px;
                    }
                }
                &-button {
                  margin-top: 16.5px;
                  background-color: #FAB72A;
                  border: none;
                  width: 247px;
                  height: 42px;
                  font-weight: 600;
                  font-size: 14px;
                  color: $dark;
                  @extend %button-behavior;

                    &--arrow {
                      margin-left: 8.25px;
                    }
                }
            }
        }
    }
    img.swiper-button-next, img.swiper-button-prev {
      margin-top: 40px;
    }
}

/*certificates*/

.container-certificates {
  background-color: $bc-certificates;
  height: 464px;
}
.certificates {
  width: 1239px;
  margin: auto;
  position: relative;

    &__title {
      padding-top: 47px;
    }
}

.certificate-modal {
  display: none;
    img {
      height: 354px;
      width: 270px;
    }
}

/*slider for certificates*/

.swiper-certificate{
  width: 860px;
  margin-top: 28px;

    &__item img {
      height: 294px;
      width: 210px;
    }
}

/*footer*/

.footer {
  background-color: $bc-footer__feedback;
  color: $white;

  &-grey {
    background-color: $bc-footer__feedback;
    margin-bottom: 56px;
  }
  &-bc {
    background-image: url('/images/footer.svg');

      &-blur {
        backdrop-filter: blur(20px);
      }
  }
  &-info {
    display: flex;
    width: 1123px;
    justify-content: space-between;
    padding: 49px 0 0;
    height: 357px;
    border-bottom: 1px solid $footer-border;

    &__contacts {
      height: 134.9px;
      width: 296px;

      &--logo {
        width: 296px;
        height: 36.14px;
      }
      &--number {
        margin: 49.86px 0 3px;
        font-weight: 600;
        font-size: 24px;
        color: $white;
        text-decoration: none;
        line-height: 29px;
        display: block;
      }
      &--address {
        font-size: 14px;
      }
    }
    &__media {
      display: flex;
      justify-content: space-between;
      width: 492px;
      font-size: 14px;
      line-height: 17px;
      margin-top: 5px;
        &--title {
          font-weight: 500;
          margin-bottom: -6px;
        }
        &__list {
          list-style: none;
        }
        &__item {
          display: flex;
          align-items: center;
          margin: 22px 0;
          cursor: pointer;
            &--name {
              padding-left: 8px;
            }
            &--icon {
              border-radius: 100%;
              border: 1px $footer-border solid;
              width: 35px;
              height: 35px;
            }
            &:hover {
              p.footer-info__media__item--name {
                text-decoration: underline;
              }
              iframe.telegram {
                @include footer-icon(#61A8DE);
              }
              iframe.whatsapp {
                @include footer-icon(#3fe85e);
              }
              iframe.viber {
                @include footer-icon(#7460f2);
              }
              iframe.vk {
                @include footer-icon(#4d76a1);
              }
              iframe.youtube {
                @include footer-icon(#ff0000);
              }
              iframe.yandexdzen {
                @include footer-icon(#2c3036);
              }
            }
        }
    }
  }
    &__feedback {
        &--title {
          font-weight: 500;
          font-size: 28px;
          line-height: 137.2%;
          color: $white;
          text-align: center;
          padding-top: 48px;
        }
        &--subtitle {
          font-weight: 400;
          font-size: 14px;
          line-height: 137.2%;
          text-align: center;
          color: $white;
          margin-top: 25px;
        }
        &__form {
          margin-top: 13px;

            &__fields {
              display: flex;
              justify-content: space-between;
              &--item {
                width: 385px;
                padding: 12px 0 13px 15px;
                height: 17px;
                font-size: 14px;
                outline: none;
                border: none;

                  @extend %validation;
                  &::placeholder {
                    color: $dark;
                  }
              }

            }
            &__bottom {
                display: flex;
                justify-content: flex-end;
                margin-top: 32px;
                  &__agreement--label {
                    padding: 0 79px 0 8px;
                  }

              &--submit {
                width: 111px;
                height: 42px;
                background-color: $yellow;
                font-weight: 600;
                font-size: 14px;
                line-height: 17px;
                text-align: center;
                color: $dark;
                border: none;
                @extend %button-behavior;
              }
            }
        }
    }
    &__bottom {
      color: $bc-certificates;
      font-size: 12px;
      margin-top: 29px;
        &--text {
          line-height: 137.2%;
        }
        &__additional {
          display: flex;
          line-height: 15px;
          padding: 22px 0 29px;
            &--link {
              text-decoration: underline;
            }
            .col {
              padding: 0 127px 0 0;
            }
            &--mail {
              color: $white;
            }
        }
    }
}

/*desktop*/

@media only screen and (min-width: 1281px) {

  .header {
    &__adapt {
      display: contents;
        &__right__menu {
          display: none;
        }
    }
  }
  .burger {
    display: none;
  }
}

/*desktop, tablet*/

@media only screen and (min-width: 768px) {

  .products__show-all {
    display: none;
  }
  .header {
    &__mobile, &__adapt--address {
      display: none;
    }
  }
}
/*tablet*/

@media only screen and (min-width: 768px) and (max-width: 1280px) {

  .container {
    max-width: 718px;
  }
  .container-certificates {
      height: 321px;
  }
  .container-products {
    height: 664px;
  }
  .title {
    font-size: 26px;
  }

  /*header tablet*/

  .header {
    min-width: 768px;
    height: 183px;

    &__search--input {
      width: 703px;
      background-position: 682px 12px;
      margin-top: 23.8px;
    }
    &__top {
      border: none;
      display: block;
      height: 159px;
    }
    &__logo {
      width: 245.95px;
      height: 69.2px;
      display: inline-block;
    }
    &__call {
      width: 189px;
      height: 44.9px;
      margin: 0;
      display: inline-block;
        &--number {
          font-size: 20px;
        }
    }
  }

.swiper-banner, .swiper-banner__item img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}
.swiper-pagination.swiper-pagination-bullets.swiper-pagination-horizontal {
    margin-bottom: 3.9px;
}

/*products tablet*/

.products {
  width: 721px;
    &__title {
      margin-left: 0;
      padding-top: 40px;
    }
}
.products {
  .swiper-product {
      margin-top: 26px;
      width: 634px;
      &__item {
        &-additional-info {
          width: 143.58px;
          height: 505px;
            &--leasing {
              width: 63.48px;
            }
            &--owner {
              width: 69.73px;
            }
        }
        &-main {
          width: 305px;
            &--img {
              width: inherit;
            }
          &-button {
            width: 257.05px;
          }
          &-text {
            margin: 19px 24.98px 25px;
          }
        }

      }
  }
  img.swiper-button-next, img.swiper-button-prev {
    margin-top: 73px;
  }
}

/*certificate tablet*/

.certificates {
  width: 768px;
    &__title {
      padding: 38px 0 0 24px;
    }
    .swiper-certificate {
      width: 491px;
        &__item img {
          height: 173px;
          width: 123px;
        }
    }
    img.swiper-button-next, img.swiper-button-prev {
      margin: 35px 22px 0;
    }
}

/*footer tablet*/

.footer {
  .footer-grey {
    margin-top: 46px;
  }
  &__feedback {
      &--title {
        padding-top: 38px;
        width: 600px;
        margin: 0 auto;
      }
      &--subtitle {
        margin-top: 9px;
        font-size: 14px;
        width: 718px;
      }
      &__form {
        margin: 22px auto 0;
        width: 635px;
          &__fields {
              &--item {
                width: 97.5%;
              }
              .requirements {
                display: block;
                margin: 7px 0 5px 0;
              }
          }
          &__bottom {
            margin-top: 8px;
              &__agreement--label {
                padding: 0 32px 0 0;
              }
          }
      }
  }
  &-info {
    width: 719px;
    padding: 46px 0 0;
    height: 289px;
      &__contacts {
        height: 154.03px;
        width: 287px;
          &--logo {
            width: 287px;
            height: 35.04px;
          }
          &--number {
            margin: 25.96px 0 8.03px;
          }
      }
      &__media {
        width: 361px;
        margin-top: 4px;
          &--title {
            font-size: 14px;
          }
      }
  }
  &__bottom {
    margin-top: 20px;
      &__additional {
        padding: 39px 0 30px;
          .col {
            padding: 0 56px 0 0;
          }
      }
  }
}

}

/*mobile and tablet*/

@media only screen and (min-width: 320px) and (max-width: 1280px) {
  .header {
    &__location {
      display: none;
    }
    &__nav {
      display: none;
    }
    &__adapt {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 24px;

        &__right {
          width: 250px;
          display: flex;
          align-items: center;
          justify-content: space-between;

          /*burger menu*/

            &__menu {
              position: fixed;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: $white;
              transform: translateX(-100%);
              transition: transform 0.5s;
              z-index: 2;
                &.active {
                  transform: translateY(0);
                  z-index: 2;
                }
                &__list {
                  display: inline-block;
                  margin: 84.38px 0 0 24px;
                    &-item {
                      list-style: none;
                      font-size: 16px;
                      line-height: 20px;
                      margin-bottom: 27px;
                      display: flex;
                      align-items: center;
                        &--link {
                          text-decoration: none;
                          color: $dark;
                            &:active {
                              font-weight: 500;
                            }
                        }
                        &--arrow {
                          margin-left: 7.25px;
                        }
                    }
                }
                &--close {
                  margin: 31.87px 24px 0 0;
                  float: right;
                }
            }
        }
    }
  }
  .footer__feedback__form__fields {
    flex-direction: column;
  }
  .footer__feedback__form__fields--item {
    padding: 12px 0 13px 15px;
    height: 17px;
    font-size: 14px;
  }
  .products .swiper-product__item-main {
    margin-top: 12px;
  }

}

/*mobile*/

@media screen and (min-width: 320px) and (max-width: 767px) {

.container-certificates {
  height: 278px;
}
.container-products {
  height: 1604px;
}

/*header mobile*/

.header {
  &__logo {
    display: none;
  }
  &__call {
    margin: 0;
    width: auto;
      &--number {
        font-size: 16px;
        width: 100%;
      }
      span &--request {
        color: #333333;
        font-size: 14px;
        background-color: $yellow;
        height: 42px;
        width: 100%;
        font-weight: 600;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 12px 0 30px 0;
          &:active {
            border:2px solid $dark;
          }
      }
  }
  &__top {
    display: flex;
    align-items: center;
    height: 252px;
    flex-direction: column;
    border: none;
    width: 90%;
    margin: 0 auto;
  }
  &__logo {
    display: none;
  }
  &__adapt {
    display: block;
    padding: 0;
    width: 100%;
      &__right {
        display: block;
        width: auto;
        &--burger {
          display: none;
        }
        &__menu {
            &--close {
              margin: 19.71px 21px 0 0;
            }
            &__list {
              margin: 70.95px 0 0 19px;
              &-item {
                font-size: 14px;
                margin-bottom: 25.62px;
                  &--arrow {
                    display: none;
                  }
              }
            }
        }
      }
      &--address {
        font-weight: 400;
        font-size: 12px;
        line-height: 15px;
        color: $white;
        margin: 12.8px 0 4px 0;
        width: 100%;
      }
  }
  &__mobile {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    width: 100%;
      &--logo {
        width: 190px;
        height: 23.2px;
      }
  }
  &__search {
      width: 100%;
        &--input {
          background-position: 99% 12px;
          width: -webkit-fill-available;
        }
  }
}

.swiper.swiper-banner {
  display: none;
}

/*call modal mobile*/

.fancybox__content {
  padding: 20.11px 21px 29.58px !important;
}

button.f-button.is-close-btn {
    display: none;
}

.call-modal {
  display: none;
  width: 320px;
  height: 313px;
    &__top {
      &--title {
        font-size: 18px;
        margin: 11.44px 0 0 0;
        padding: 0;
      }
      &--close {
        width: 20px;
        height: 19.71px;
        margin: 0;
      }
    }
    &__form {
      margin-top: 14.45px;
      &--input {
        width: 277px;
        padding: 13px 0 15px 22px;
        height: 40px;
        margin: 0;
          &#field_number {
            margin-top: 26px;
          }
      }
        &__bottom {
          margin-top: 19.96px;
          flex-direction: column;
            &--button {
              width: 277px;
              height: 39.42px;
              margin-top: 20.44px;
            }
            .form-agreement input + label::before {
              padding-right: 18.4px;
              margin-right: 9px;
            }
        }
      }
    }

/*products mobile*/

.products {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
    &__title {
      padding-top: 24px;
      font-size: 16px;
      margin-left: 20px;
      padding-top: 24px;
      width: 90%;
      margin: 0 auto;
    }
    .swiper-product {
      margin-top: 18px;
      width: 90%;
      height: 1471px;
        &__item {
          &-additional-info {
            width: 129px;
              &--promotion {
                width: 53px;
              }
              &--new {
                width: 67px;
              }
              &--leasing, &--owner {
                display: none;
              }
              &--promotion, &--new {
                display: inherit;
              }
          }
          &-main {
            width: 99%;
              &--img {
                width: 100%;
                height: 210px;
                object-fit: cover;
              }
              &-text {
                margin: 15px 27px 20px;
              }
              &--title {
                font-size: 14px;
              }
              &--description, &-prices, &-availability {
                display: none;
              }
              &-button {
                margin-top: 10px;
                width: 100%;
                height: 40px;
                font-size: 14px;
              }
          }
        }
    }
    img.swiper-button-next, img.swiper-button-prev {
      display: none;
    }
  &__show-all {
    width: 90%;
    height: 42px;
    border: none;
    color: $white;
    font-weight: 600;
    background-color: $dark;
    font-size: 14px;
    margin: 20px 20px 24px;
      &--arrow {
        margin-left: 5.01px;
        fill: $white;
      }
      &:active {
        background-color: $white;
        border: 2px solid $dark;
        color: $dark;
          svg.products__show-all--arrow {
            fill: $dark;
          }
      }
  }

  .swiper-vertical {
    touch-action: auto;
  }
}

/*certificates mobile*/

.certificates {
  width: 90%;
    &__title {
      padding-top: 25px;
      font-size: 16px;
    }
    .swiper-certificate {
      width: 123px;
      margin-top: 28px;
        &__item img {
          height: 100%;
          width: 100%;
        }
    }
    img.swiper-button-next, img.swiper-button-prev {
      width: 6.36px;
      height: 14.77px;
    }
}

.certificate-modal img {
    height: 324px;
    width: 240px;
}

/*footer mobile*/

.footer {
  .footer-grey {
    margin: 0 auto 30px;
    width: 90%;
  }
  &__feedback {
    &--title {
    font-size: 16px;
    margin: 0 auto;
    text-align: center;
    padding-top: 24px;
    }
    &--subtitle {
    font-size: 14px;
    text-align: center;
    margin: 7px auto 0;
    }
    &__form {
      display: flex;
      flex-direction: column;
      align-items: center;
        &__fields {
          width: -webkit-fill-available;
            &--item {
              width: 97.5%;
            }
            .input-box {
              margin-bottom: 4px;
            }
        }
        &__bottom {
          margin-top: 17px;
          flex-direction: column;
            &--submit {
              margin-top: 19px;
              width: auto;
              height: 42px;
            }
            &__agreement {
                &--label {
                  padding: 0;
                  font-size: 12px;
                  text-decoration: underline;
                }
              }
            }
        }
    }
    &-info {
      padding: 49px 0 0;
      height: 591px;
      margin: 0 auto;
      width: 90%;
      flex-direction: column;
        &__contacts {
          height: 96.42px;
            &--logo {
              width: 244px;
              height: 29.79px;
            }
            &--number {
              font-size: 16px;
              margin-top: 17.21px;
            }
            &--address {
              font-size: 14px;
            }
        }
        &__media {
          font-size: 12px;
          line-height: 17px;
          width: fit-content;
          margin-top: 23px;
          flex-direction: column;
            &--title {
              margin: 0;
            }
            &__item {
              margin: 16px 0;
            }
            &__social {
              margin-top: 12px;
            }
        }
    }
    &__bottom {
      font-size: 10px;
      margin: 16px auto;
      width: 90%;
        &__additional {
          flex-direction: column;
          padding: 22px 0 17px;
            .col {
              padding: 0 0 12px 0;
            }
        }
    }
  }
}
